<h1>Hey, Peeps!</h1>

<p>Welcome to my blog. In short, I'm going to share some stuff I learn along the way, be in in Ruby, PHP or any other language that I'll be working with.</p>

<p>I wouldn't bet my money that you'll find anything particularly new here, as of now, I'm thinking that I'll be covering elements of certain frameworks with detailed explanation.</p>

<p>The whole purpose of this blog is as egoistic as it can get. In short - I'm doing it purely for myself to documents stuff that I keep forgetting. Feel free to read through it though!</p>
<%= link_to 'My Blog', {controller: 'articles'}, class:'waves-effect waves-light btn-large' %>
